* {
   box-sizing: border-box; 
   --color-entry: #dcdcdc;
   --color-public: #fff;
   --color-private: #ffdede;
}

html {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #f3f3f3;
}

strong {
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

header ion-icon {
    width: 45px;
    height: 45px;
    margin-right: 22px;
}

main {
    margin-top: 106px;
    margin-bottom: 85px;
}

main div {
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    /* background-color: #dcdcdc; */
}

main p {
    width: 100%;
    margin: 0 9px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
}

.hour {
    color: #aaa;
    margin-right: 4px;
}

.name {
    margin-right: 4px;
}

.entry {
    background-color: var(--color-entry);
}

.public {
    background-color: var(--color-public);
}

.private {
    background-color: var(--color-private);
}

/* aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateX(0);
    z-index: 2;
    transition: all 5000ms;
} */

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 259px;
    height: 100%;
    background-color: #fff;
    transition: all 500ms;
    z-index: 2;
}

.sidebar ion-icon {
    width: 25px;
    height: 25px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 16%;
    height: 84px;
}

h1 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}

.contact {
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: space-between;
    margin: 0 27px 0 17px;
}

.info ion-icon {
    height: 25px;
    width: 25px;
    margin-right: 7px;
}

.info {
    display: flex;
    align-items: center;
}

.info p {
    font-size: 16px;
    line-height: 19px;
}

ion-icon.check {
    width: 15px;
    height: 12px;
    --ionicon-stroke-width: 120px;
    color: #28bb25;
}

.second-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 18%;
    height: 60px;
}

.visibility {
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: space-between;
    margin: 0 27px 0 17px;
}

.close-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.faded {
    transform: translateX(259px);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    z-index: 0;
}

footer input {
    width: 145px;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 21px;
    color: #000;
    margin-left: 18px;
    border: none;
}

footer input:focus {
    outline: 0;
}

::placeholder {
    color: #000;
}

footer ion-icon {
    width: 26px;
    height: 26px;
    margin-right: 18px;
}

.isClose {
    display: none;
}